.topMargin{
    margin-top: 6%;
    margin-bottom: 2%;
}
.OrderEvent{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-left:15px;
}
.child{
    flex-grow: 3;flex: 3 0 21%;
}
.textBox{
    display: flex;
    justify-content: center;
}
#map {
    height: 180px;
}